/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
}

header .logo-container {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo-container img {
    height: 19px;
    object-fit: contain;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    list-style: none;
    margin: 0 2em;
}

header nav ul li a {
    font-size: 16px;
    display: block;
    padding-top: 1em;
    border: solid 2px transparent;   
    background-color: unset;
}

header nav ul li a:hover {
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
    cursor: pointer;
}

header, main, footer {
    margin: auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
}

.home > div > p {
    margin-bottom: 0;
}

.search-div {
    display: flex;
}

.search-bar, .filter-bar {
    display: flex;
    flex-direction: row;
}

.search-bar {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    outline: solid 2px var(--main-bg-color);
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 15px 20px;
}

.search-input {
    border: none;
    border-right: unset;
    outline: unset;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.search-submit {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.search-div .mobile {
    display: none;
}

.filter-bar, .filters    {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;
}

.filter-bar label {
    margin-right: 0.5em;
    font-size: 18px;
}

.filter-btn {
    font-size: 17px;
    display: flex;
    align-items: center;
    border: solid 2px #D9D9D9;
    background-color: white;
    padding: 10px 19px;
    border-radius: 25px;
    font-weight: bold;
}

.filter-btn:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.filter-btn i {
    display: flex;
    height: 22px;
    width: 22px;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
}

.info-row {
    display: flex;
    align-items: center;
}

.info-txt {
    margin: 0;
}

.info-row > div {
    border: solid 1px #D9D9D9;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.hebergements-cards .card {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
}

.hebergements-cards img {
    width: 100%;
    aspect-ratio: 24/12;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin: 10px 0;
}

.hebergements-cards .card-subtitle {
    margin: 10px 0;
    font-size: small;
}

.show-more {
    font-size: 18px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

.activities section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.activities .card-title {
    display: inline-block;
    margin: 0;
}

.activity-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.activities .card {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.activities .card img {
    aspect-ratio: 30/38;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities .card .card-content {
    padding: 20px 19px;
    height: 100%;
    display: flex;
    align-items: center;
}

/****** Footer ***********/

.footer-container {
    background-color: var(--main-bg-color);
    display: grid; grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-container .about {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.footer-container .about h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 0.5em;
}

.footer-container .about a {
    font-size: 16px;
    margin: 0.5em 0;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar label {
        margin-bottom: 0.5em;
    }

    .filter-btn {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        border-radius: 15px;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements .card img {
        aspect-ratio: 27/12;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities .card img {
        aspect-ratio: 20/19;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body {
        margin-left: 0;
        margin-right: 0;
    }

    header {
        flex-direction: column;
    }

    header .logo-container {
        display: flex;
        align-items: center;
    }

    header nav ul li {
        margin: 0;
        width: 50%;
        text-align: center;
    }

    header nav ul li a {
        font-size: 19px;
        padding: 0;
        padding-bottom: 1em;
        border-bottom: solid 2px var(--main-bg-color)
    }

    header nav ul li .active {
        border-top: unset;
        color: var(--main-color);
        border-bottom: solid 2px var(--main-color);
    }

    header, main, footer {
        padding: 0;
    }

    .home {
        padding: 0 20px;
    }

    .filter-bar .filters {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 10px;
    }

    .search-bar {
        width: 100%;
        border-radius: 15px;
        outline: solid 1px var(--main-bg-color);
    }

    .search-icon {
        padding: 15px 19px;
    }

    .search-input {
        width: 100%;
        padding: 10px 15px;
    }

    .search-div .desktop {
        display: none;
    }

    .search-div .mobile {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        justify-content: center;
    }

    .search-div .mobile i {
        color: white;
    }

    .filter-btn {
        font-size: 14px;
        padding: 10px 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        margin: 0;
        border-radius: 0;
        padding: 30px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .populaires-cards, .hebergements-cards {
        display: grid;
        grid-template-columns: 1fr;
    }

    .hebergements-cards .card img {
        aspect-ratio: 33/12;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activities section {
        padding: 30px;
    }

    .activities .activity-cards {
        grid-template-columns: 1fr;
    }

    .activities .card img {
        aspect-ratio: 31/14;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }
}