/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    padding-top: 100px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
}

header .logo-container {
    padding: 2em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo-container img {
    height: 1.5rem;
    object-fit: contain;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    list-style: none;
    margin: 0 2em;
}

header nav ul li a {
    display: block;
    padding-top: 1.5em;
    border: solid 2px transparent;   
    background-color: unset;
}

header nav ul li a:hover {
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
    cursor: pointer;
}

.main-container, footer {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.home > div{
    margin: 2em 0;
}

.search-div {
    display: flex;
}

.search-bar, .filter-bar {
    display: flex;
    flex-direction: row;
}

.search-bar {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 15px 20px;
}

.search-input {
    border: solid 2px var(--main-bg-color);
    border-right: unset;
    outline: unset;
    padding: 15px;
    font-size: large;
    font-weight: bold;
}

.search-submit {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

.search-div .mobile {
    display: none;
}

.filter-bar, .filters    {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.filter-bar label {
    margin-right: 0.5em;
    font-size: large;
}

.filter-btn {
    margin: 0 0.5em;
    display: flex;
    align-items: center;
    border: solid 2px #D9D9D9;
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
}

.filter-btn:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.filter-btn i {
    align-self: center;
    margin-right: 0.5em;
}

.info-row {
    display: flex;
    align-items: center;
}

.info-row > div {
    border: solid 1px #D9D9D9;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
}

.info-txt {
    font-size: small;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 33px;
    margin-bottom: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding: 0 15px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin: 10px 0;
}

.hebergements-cards .card-subtitle {
    margin: 10px 0;
    font-size: small;
}

.show-more {
    font-size: large;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

.activities{
    display: flex;
    justify-content: space-between;
}

.activities section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.activities .card {
    padding: 0;
}

.activities .card-title {
    display: inline-block;
    margin: 15px;
}

.activity-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 33px;
    margin-bottom: 33px;
}

.activity-cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Footer ***********/

.footer-container {
    padding: 1em;   
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-container .about {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.footer-container .about h3 {
    margin: 0;
    margin-bottom: 0.5em;
}

.footer-container .about a {
    margin: 0.5em 0;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body {
        margin-left: 0;
        margin-right: 0;
    }

    header {
        flex-direction: column;
    }

    header .logo-container {
        display: flex;
        align-items: center;
    }

    header nav ul li {
        margin: 0;
        width: 50%;
        text-align: center;
    }

    header nav ul li a {
        padding: 0;
        padding-bottom: 1.5em;
        border-bottom: solid 2px var(--main-bg-color)
    }

    header nav ul li .active {
        border-top: unset;
        color: var(--main-color);
        border-bottom: solid 2px var(--main-color);
    }

    .main-container, footer {
        padding: 0;
    }

    .home {
        padding-top: 1em;
        padding-left: 10px;
        padding-right: 10px;
    }

    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar .filters {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filter-bar .filters .filter-btn {
        margin: 0.5em;
    }

    .search-bar {
        width: 100%;
    }

    .search-input {
        width: 100%;
    }

    .search-div .desktop {
        display: none;
    }

    .search-div .mobile {
        position: absolute;
        right: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        justify-content: center;
    }

    .search-div .mobile i {
        color: white;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        margin: 0;
        border-radius: 0;
        padding: 20px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .populaires-cards, .hebergements-cards {
        display: grid;
        grid-template-columns: 1fr;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activities section {
        padding: 20px;
    }

    .activities .activity-cards {
        grid-template-columns: 1fr;
    }

    .activities .activity-cards img {
        height: 150px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container .about {
        width: 100%;
    }
}